*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    padding-left: 10px;
}
.text-logo {
    float: right;
    padding-top: 4px;
    padding-left: 5px;
    font-size: 30px;
    color: black;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration:none;
    text-transform: uppercase;
    color: #727272;
}
nav ul li .active,
nav a:hover{
    background-color: #39AAE1;
    color: #FFF;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color: #FFF;
    font-size: 50px;
    text-shadow:2px 1px 0px #000000;
    margin: 0;
    padding: 0;
    width: 300px;
}
.banner_headline h2{
    color: #FFF;
    font-size: 19px;
    text-shadow:1px 1px 0px #000000;
    margin: 0;
    padding: 0;
    width: 300px;
    margin-top: 20px;
}
.banner_options {
    height: 210px;
    display: flex;
    justify-content: center;
}
.banner_options a{
    display: inline-block;
    border: 1px solid #FFF;
    padding: 5px;
    color: #FFF;
    font-size: 13px;
    text-decoration: none;
}
.banner1,
.banner2,
.banner3{
    flex: 1;
    color: #FFF;
    padding: 20px;
}
.banner1{
    background-color: #39AAE1;
}
.banner2{
    background-color: #0079C7;
}
.banner3{
    background-color: #2B5CC9;
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_text {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0079C7;
    font-size: 15px;
}

#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex:1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36A9E1;
    margin-top: 5px;
}
#quadros {
    display:flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 300px;
}
.quadro1,.quadro2,
.quadro3,.quadro4,
.quadro5,.quadro6 {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #36A9E1;
}
.quadro1,
.quadro3,
.quadro5 {
    margin-left: 0;;
} 
._text {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    border-bottom: 1px solid gray;
    font-size: 15px;
    margin: 20px;
    margin-left: 0;
    padding:10px;
    padding-left: 0;
}
.widget_text img{
    width: 30px;
    height: 30px;
    margin: 5px;
}
#mapa-location {
    display: flex;
    width: 36px;
    height: 36px;
    align-self: flex-start;
    justify-self: center;
    margin-right: 5px;
    padding: 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    min-width: 300px;
    margin-right: 20px;
    flex: 1;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}

article .news_posted_at{
    background-color:   #2B4C99;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;    
}

article .news_comments {
    background-color: #39AAE1;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail{
    margin-top: 30px;
}
article img{
    height: auto;
    width: 100%;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}

article .news_resume {
    color: #5C5C5C;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display: flex;
    flex: 1;
}
.footer_menu a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #FFF;
}
.footer_menu h3, p{
    padding: 0;
}
.fm_1, .fm_2, .fm_3 {
    flex:1;
    color: #FFF;
}
.fm_1{
    background-color: #39AAE1;
}
.fm_2{
    background-color: #0079C7;
}
.fm_3{
    background-color: #2B5CC9;
}

.footer_area {
    display:flex;
}
.footer_areaitem {
    flex:1;
    color: #FFF;
}
.flexColumn{
    flex-direction: column;
}
footer .widget_title_text{
    color:#FFF;
}

.widget_body{
    color: #727272;
}

.footer_copy{
    border-top: 1px solid #2C2C2C;
    line-height: 40px;
    margin-top: 30px;
    color: #5C5C5C;
    font-size: 12px;
}
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: #39aae1;
}

@media (max-width: 740px) {

    .logo {
        padding: 20px;
    }

    .banner_headline{
        padding: 20px;
    }

    .banner_headline h1 {
        font-size: 45px;
    }

    .banner_headline h2 {
        font-size: 17px;
    }

    .banner_options{
        height: auto;
        flex-direction: column;
    }

    .banner3{
        margin-bottom: 50px;
    }

    .widget {
        margin-top: 250px;
    }

    .container {
        flex-direction: column;
    }

    header .container {
        flex-direction: row;
    }

    #geral section, aside {
        padding: 5px;
        margin: 5px;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 10px;
    }

    .footer_copy {
        padding-left: 20px;
    }

    nav ul {
        flex-direction: column;
        display:none;
        left: 0;
        position: absolute;
        width: 100%;
        background: #FFF;
    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}



















